.pager {
  border-top: 1px solid $horizen-divider;
  @include margin(top 5rem);
  @include padding(top 2.5em);
  @include mobile() {
    @include margin(top 2rem);
  }
  ul {
    display: table;
    border-radius: .5rem;
    @extend %clearfix;
    @include margin(left auto right auto);
    li {
      float: left;
      a {
        @include flex-align(center, center);
        @include size(2.8rem);
        @include font(size 1.6rem);
        &.active,
        &:hover,
        &:focus {
          color: #fff;
        }
        &.active {
          background: $brand-main;
        }
        &:not(.active):hover,
        &:not(.active):focus {
          background: $font-base;
          transition: $base-transition-sec all;
        }
      }
    }
    li:first-child,
    li:last-child {
      @include margin(left 1rem right 1rem);
      a, 
      a:hover,
      a:focus {
        color: $font-base;
        background: #fff;
      }
    }
  }
  button {
    display: table;
    border-radius: 2rem;
    color: #fff;
    background: $brand-main;
    @include margin(left auto right auto);
    @include size(12rem 3rem);
    @include font(size 1.4rem);
    &>i {
      @include margin(left .5rem);
    }
  }
}