.footer-content {
  @include font(size 1.4rem weight bold);
  &>[class*='hidden'] {
    height: 100%;
  }
  .row {
    height: 100%;
    @include flex-align(center, center);
    &>div {
      @extend %clearfix;
      @include flex-align(center, center);
      &>*{
        float: left;
      }
      p {
        @include font(size 1.6rem);
        @include padding(right 1.5em);
      &>span {
          color: $brand-main;
        }
      }
      ul {
        @extend %clearfix;
        li {
          float: left;
          @include font(weight normal);
          @include padding(right 1em);
        }
      }
    }
  }
}