.condition {
  @include margin(top 3rem);
  .row:nth-child(1) {
    & > div:nth-child(1) {
      @include flex-align(null, center);
      @include mobile() {
        display: none;
      }
    }
    & > div:nth-child(2) {
      @include flex-align(flex-end, null);
    }

    h3 {
      color: $font-emphasis;
      @include font(size 2.2rem);
      em {
        color: $brand-main;
      }
    }
    
    select {
      border: 0;
      border-radius: .4rem;
      background: url('../images/bg-divider.png') no-repeat 75% 50%, url('../images/icon-arrow.png') no-repeat 90% 50%, $mini-panel-back;
      @include padding(left 1.07em);
      @include size(14rem 3.6rem);
      @include font(size 1.2rem weight bold);
    }
  }

  .row:nth-child(2) {
    border-top: 1px solid $horizen-divider;
    @include margin(top 2rem);
    @include padding(top 2em);
    @include mobile() {
      @include margin(top 1rem);
      @include padding(top 0);
    }
    ul {
      @extend %clearfix;
      li {
        float: left;
        @include padding(right 1em);
        @include font(size 1.4rem);
        &:not(:last-child):after {
          content: '|';
          vertical-align: top;
          @include padding(left 1em);
          @include font(size 1.4rem);
        }
        a.active {
          color: $brand-main;
          @include font(weight bold);
        }
      }
    }
  }
}
