@import "variables";
@import "fonts";
@import "mixin";
@import "layout";
@import "reset";

html {
  font-size: $base-font-size;
  color: $font-base;
}

body {
  @include font(family $base-font-family);
}

@media (max-width:400px){html{font-size:8px;}}
@media (min-width:401px) and (max-width:1024px) {html{font-size:9px;}}
@media (min-width:1025px){html{font-size:$base-font-size;}}