@import '../libs/grid/func';
@import '../libs/grid/grid';

.header {
  position: fixed;
  z-index: 999999;
  top: 0;
  width: 100%;
  height: $header-height-desktop;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  background: $brand-main;
  box-sizing: border-box;
  @include padding(left 1.4rem right 1.4rem);
}

.header + div {
  margin-top: $header-height-desktop;
  margin-bottom: $footer-height-desktop
}

.header-content {
  margin: 0 auto;
  height: 100%;
}

.footer {
  width: 100%;
  height: $footer-height-desktop;
}

.container {
  box-sizing: border-box;
  @include padding(left 1.4rem right 1.4rem);
  @include desktop {
    @include margin(left 0 right 0)
  }
}

.main {
  @include margin(left auto right auto);
}
// [class*="cell-"] {
  // height: 80px;
// }
// [class*="cell-"]::after {
//   content: attr(class);
// }
// [class*="cell-"]:nth-child(1) { background: #c8d89b; }
// [class*="cell-"]:nth-child(2) { background: #facc44; }
// [class*="cell-"]:nth-child(3) { background: #659836; }
// [class*="cell-"]:nth-child(4) { background: #676767; }
// [class*="cell-"]:nth-child(5) { background: #abcdef; }
// [class*="cell-"]:nth-child(6) { background: #ab5566; }
