// 공통 mixin, function 
@mixin flex-align($h-align: flex-start, $v-align: stretch) {
  display: flex;
  align-items: $v-align;
  justify-content: $h-align;
}

@mixin background-img($img-url, $width: auto, $height: auto) {
  background: url($img-url) no-repeat;
  background-size: $width $height;
}

%clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

%ir {
	display: block;
	text-indent: -9999em;
	white-space: nowrap;
	overflow: hidden;
}
