// ----------- Layouts
// $bp-mobile:   750px !default;
$bp-desktop: 1024px !default;


// ----------- Colors
$white: #fff; // 255,255,255
$black: #000; // 0,0,0

$brand-main: #ff3c32;
$font-base: #969696;
$font-emphasis: #555;
$mini-panel-back: #e8eff0;
$horizen-divider: #dadada;

// ----------- Font


// ----------- Paths


// ----------- Type


// ----------- Animations

