// ----------- Layouts
// $bp-mobile:   750px !default;
$bp-desktop: 1024px !default;


// ----------- Colors
$brand-main: #ff3c32;
$font-base: #969696;
$font-emphasis: #555;
$mini-panel-back: #e8eff0;
$horizen-divider: #dadada;

// ----------- Font
$base-font-family: 'Spoqa Han Sans';
$base-font-size: 10px;
$base-line-height: 1.5;
// ----------- Paths


// ----------- Type


// ----------- Animations
$base-transition-sec: .3s;
