// ----------- Layouts
// $bp-mobile:   750px !default;
$bp-desktop: 1024px !default;

$header-height-desktop: 50px;
$header-height-mobile: 50px;
$footer-height-desktop: 50px;
$footer-height-mobile: 50px;

// ----------- Colors
$brand-main: #ff3c32;
$brand-sub: #ffdcd2;
$font-base: #969696;
$font-emphasis: #555;
$mini-panel-back: #e8eff0;
$horizen-divider: #dadada;
$outline: #4391f2;

// ----------- Font
$base-font-family: 'Spoqa Han Sans';
$base-font-size: 10px;
$base-line-height: 1.5;
// ----------- Paths


// ----------- Type


// ----------- Animations
$base-transition-sec: .3s;
